// Estilos para subtitulos de secciones

%estilos-listas{
    text-align: center;
    text-decoration: none;
    font-family: brewery;
    font-size: 2rem;
    color: white;
}


%subtitulo-seccion{
    text-align: center;
    margin: 1rem auto;
    font-family: brewery;
    font-size: 5.2vw;
}

