// Inserción de fuentes locales

@font-face {
    font-family: caredrock;
    src: url(../fuentes/caredrock/otf/CaredrockInline.otf)
}

@font-face {
    font-family: brewery;
    src: url(../fuentes/local-brewery-sans/LocalBrewerySans.ttf)
}